* {
    box-sizing: border-box;
}

body
{
    place-items: center;
    background-color: black;
    margin: 0rem;
}

.footer
{
    font-family: "Quicksand-Regular";
    position: absolute;
    display: inline-block;
    bottom: 12px;
    left: 12px;
    overflow: hidden;
}

.footer-item 
{
    bottom: 12px;
    position: unset;
    float: left;
    padding-right: 16px;
}

.footer-icon
{
    vertical-align: middle;
}

.footer a 
{
    font-family: "Quicksand-Regular";
    color: white;
    text-decoration: none;
}


@font-face
{
    font-family: "Quicksand-Light";
    src: url("../assets/fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face
{
    font-family: "Quicksand-Regular";
    src: url("../assets/fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: "Quicksand-Bold";
    src: url("../assets/fonts/Quicksand-Bold.ttf") format("truetype");
}