:root 
{
    --bg-light: #e1e6eb;
    --bg-dark: #0a0b12;
    --text-light: #101322;
    --text-dark: #e1e6eb;
    --card-light: #f4f5f7;
    --card-dark: #101322;
}

body 
{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: var(--bg-light);
    color: var(--text-light);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode 
{
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

/* Main Content */
.main-content 
{
    max-width: 1200px;
    margin: 6rem auto 2rem;
    padding: 0 1rem;
}

.welcome-section 
{
    text-align: center;
    margin-bottom: 3rem;
}

h1, h2 
{
    font-family: 'Fredoka One';
    font-weight: 100;
    margin-bottom: 1rem;
}