.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: var(--main-color);
    display: flex;
    align-items: center;
    z-index: 69;
}

.logo
{
    font-size: 2.8rem;
    color: var(--white-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a
{
    position: relative;
    font-size: 1.6rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
    transition: .314s ease;
}

.navbar a:hover
 {
    position: relative;
    font-weight: 500;
    font-family: "Quicksand-Bold";
}

.navbar a.active::before
{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background-color: var(--white-color);
}

#heartIcon
{
    font-size: 2.2rem;
    color: var(--white-color);
    cursor: pointer;
}

#heartIcon:active
{
    color: var(--main-color);
    transition: 2s ease-out;
}

#moonIcon {
    padding-left: 16px;
    font-size: 2.2rem;
    color: var(--white-color);
    cursor: pointer;
}