* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Quicksand-Regular";
}

:root, html[data-theme='light']
{
    --bg-color: #fff;
    --text-color: #001;
    --main-color: #6809c8;
    --white-color: #fdfdfd;
    --icon-color: var(--main-color);
    --hover-color: #fff;
    --shadow-color: rgba(0,0,0,0.5);
    --button-color: var(--main-color);
    --buttonShadow-color: var(--shadow-color);
}

html[data-theme='dark']
{
    --bg-color: rgb(12, 12, 28);
    --text-color: #fff;
    --main-color: #2b0063;
    --white-color: #fdfdfd;
    --icon-color: var(--white-color);
    --hover-color: #001;
    --shadow-color: rgba(255, 255, 255, 0.5);
    --button-color: var(--white-color);
    --buttonShadow-color:var(--main-color);
}

html
{
    font-size: 62.5%;
    overflow-x: hidden;
}

body
{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0rem 1rem;
    background: var(--main-color);
    display: flex;
    align-items: center;
    z-index: 1;
}

.footer .social-media a 
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    color: #fff;
    background: transparent;
    border: .2rem solid #fff;
    border-radius: 50%;
    box-shadow: 0rem .25rem .5rem #fff;
    font-size: 2rem;
    margin: 1rem 1rem 1rem 0;
    transition: .31415s ease-in;
}

.footer .social-media a:hover
{
    background: #fff;
    color: #001;
    transition: .31415s ease-out;
}


@font-face {
    font-family: "Quicksand-Light";
    src: url("../assets/fonts/Quicksand-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand-Regular";
    src: url("../assets/fonts/Quicksand-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand-Bold";
    src: url("../assets/fonts/Quicksand-Bold.ttf") format("truetype");
}