<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Song - Lyrics</title>
        <link rel="icon" type="image/svg+xml" href="/art/Quirks.svg">

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/content.css">
    </head>
    <body>
        <main class="main-content">
            <div class="welcome-section">
                <h1>Song Name</h1>
                <p>Song Information :3</p>
            </div>

            <div class="content">
                <div class="center-card">
                    <h2>Verse 1</h2>
                    <p>Line 1</p>
                    <p>Line 2</p>
                    <p>Line 3</p>
                    <p>Line 4</p>

                    <h2>Verse 2</h2>
                    <p>Line 1</p>
                    <p>Line 2</p>
                    <p>Line 3</p>
                    <p>Line 4</p>
                    <h2>etc.</h2>
                </div>
            </div>
        </main>

        <script src="/js/main.js"></script>
        <script src="/js/theme.js"></script>
    </body>
</html>