<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Note Name</title>
        <link rel="icon" type="image/svg+xml" href="/art/Quirks.svg">

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/content.css">
    </head>
    <body>
        <!-- Header will be loaded here -->
        <div id="header-placeholder"></div>

        <main class="main-content">
            <div class="welcome-section">
                <h1>Note name</h1>
                <p>Note Information</p>
            </div>

            <div class="content">
                <div class="content-card">
                    <h2>Title</h2>
                    <p>Text</p>
                </div>
            </div>
        </main>

        <script src="/js/main.js"></script>
        <script src="/js/theme.js"></script>
    </body>
</html>